# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github-reps\JAVA-simple-web-project\my-super-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
